/* Sajten ska vara responsiv så att den ser bra ut och är användbar i olika bredder mellan 320px och 2560px */
/* Sajten (design, layout) fungerar bra för viewport med bredd på 1024px */

/* Kolla på avsnittet om grid */


/* #8B8516 för hoover färg */

@font-face {
  font-family: 'Nanum Myeongjo';
  src: url(../fonts//Nanum_Myeongjo/NanumMyeongjo-Regular.ttf);
}

@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

body {
  background-color: #FBFCFC;
  font-size: medium;
  line-height: 1.4;
}
h1 {
  color: #000C1D;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
}

h2, legend {
  color: #252A04;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
h3, h4 {
  color: #252A04;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

p, a {
  color: #000C1D;
  font-family: Arial, Helvetica, sans-serif;
 }

header {
   border-bottom: 1px solid #000C1D;
}

 li {
  font-family: Arial, Helvetica, sans-serif;
 }

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
 }

 nav li {
   list-style: none;
 }

nav li a {
  padding: 4px;
  color: #242903;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
}

a {
  text-decoration: none;
}

section, form, .container_background{
  background-color: #FBFCF9;
  background-color: #FBFCFC;
  padding: 10px 20px 20px 20px;
  border-radius: 20px;
  max-width: 100%;
}

picture {
  display: flex;
}

figcaption {
  text-align: center;
  font-size: 0.75em;
  margin-top: 5px;
}

figure img {
  display: block;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid #000C1D;
}

footer p {
  font-size: 0.8em;

} 

table {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  margin: 0 auto;
}
table > caption {
  color: #252A04;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  padding: 15px 0;
  text-align: left;
}

td, th {
  border: 1px solid #A8B5B4;
  padding: 0.3em;
}

td {
  text-align: center;
  color: #000C1D;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

th {
  background-color: #BAC7D8; /* Kolla att den klarar AAA!!! */
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
}

tr:nth-of-type(odd) {
  background-color: #FBFCF9;
}

/* Formuläret */
fieldset{ 
  width: 600px; 
  border: solid medium #A8B5B4;
  margin: 0 auto;
}

label {
  color: #000C1D;
  font-family: Arial, Helvetica, sans-serif;
}

form ul {
  padding: 0;
  list-style-type: none;
}
 form li{ 
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

form li:last-child {
  border-bottom: none;
}

input[type="submit"] {
  color: #000C1D;       
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  background-color: #BAC7D8;
  padding: 6px 12px;
  border-radius: 5px;
}

input[type="text"]:hover, input[type="text"]:active, input[type="text"]:focus,
input[type="tel"]:hover, input[type="tel"]:active, input[type="tel"]:focus,
input[type="email"]:hover, input[type="email"]:active, input[type="email"]:focus,
textarea:hover, textarea:active, textarea:focus,
input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
  border: 2px solid #8B8516 ;
  outline: none;
}

input[type="radio"]:hover, input[type="radio"]:active, input[type="radio"]:focus {
  border: 2px solid #8B8516 ;
}



#logo {
  color: #000C1D;
  font-family: 'Nanum Myeongjo', serif; 
  font-size: 2.3em;
  display: flex;
  justify-content: center;
  margin: 0.5em auto 0.6em auto;
}

#link_english {
  display: flex;
  justify-content: flex-end;
}

.container_color_a {
  background-color: #BAC7D8;
  padding: 20px;
}
.container_color_b {
  background-color: #C6A896;
  padding: 20px;
}
.container_color_c {
  background-color: #A69A64;
  padding: 20px;
}
.container_color_d {
  background-color: #A8B5B4;
  padding: 20px;
}

#container_main {
  padding-top: 5px;
}

.container_content {
  max-width: 1024px;
  margin: 0 auto;
}

/* .container_text {
  background-color: #FBFCF9;
  background-color: #FBFCFC;
  padding: 10px;
} */


/*************************************************************/
@media(min-width: 720px) and (max-width: 1000px){
  header {
    display: grid;
    grid-template-columns: 4fr 5fr;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

   nav li a {
    padding-right: 20px;
  }

  h1 {
    font-size: 1.8em;
  }
  .container_color_a,  .container_color_b, .container_color_c, .container_color_d{
    padding: 30px;
  }

  figure {
    float: right;
    margin: 0 10px;
  }
  .container_float {
    text-align: left;
  }

  source {
    max-width: 100%;
  }
}

/*************************************************************/
@media(min-width: 1000px){

  /* Lägg till max-width på containrar för att det inte ska bli allt för utdraget */
  header {
    display: grid;
    grid-template-columns: 4fr 5fr;
  }

  #logo {
    font-size: 2.7em;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

   nav li a {
    padding-right: 20px;
    font-size: 1.1em;
  }

  h1 {
    font-size: 2em;
  }

  p {
    margin: 15px 0;
  }
/* 
  #logo {
    justify-content: flex-start;
  } */
  
  .container_color_a,  .container_color_b, .container_color_c, .container_color_d{
    padding: 30px;
  }

  .text_with_pic {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-auto-rows: min-content;
    grid-template-areas: 
    "rubrik rubrik"
    "text1 bild"
    "text2 bild"
  }

  article.text_with_pic {
    display: grid;
    grid-template-columns: 65% 35%;
/*     grid-auto-rows: min-content;
 */    grid-auto-rows: max-content;
    grid-template-areas: 
    "rubrik bild"
    "text_a bild"
    "text_b bild"
  }

  h2 {grid-area: rubrik;}
  h3 {grid-area: rubrik;}
  picture {grid-area: bild }
  figure {grid-area: bild }
  p > p {grid-area: text1;}
  picture > p {grid-area: text2;}
  p + p {grid-area: text3;}
  p > section {grid-area: text4;}
  h3 > .container_text {grid-area: text_a;}
  figure > .container_text {grid-area: text_b;}

/*    article {
    overflow: auto;
  } */ 

/*   figure {
    float: right;
    position: relative;
  }

 article h3 h4 ~ p {
  float: left;
} */

}

@media(min-width: 320px) and (max-width: 600px) {

  /* Table */
table, thead, tbody, th, td, tr {
  display: block;
}

tr {
  border: 1px solid #A8B5B4
}

thead tr {
 position: absolute;
 top: -9999px;
 left: -9999px;
}

td {
  border: none;
  border-bottom: 1px solid #BAC7D8;
  position: relative;
  padding-left: 40%;
  text-align: left;
}

td:before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 25%;
  padding-right: 10px;
  white-space: nowrap;
  text-align: left;
}
td:nth-of-type(1):before { content: "Namn"; }
td:nth-of-type(2):before { content: "Mail"; }
td:nth-of-type(3):before { content: "Tel"; }

/* Form */
fieldset {  width: 80%; }

label{ 
  width: 100%; 
  float: none; 
  text-align: left;
  display:block;
}
  
}